
<div class="honors">
    <h2>Honors and Awards</h2>
    {% if site.honors != blank -%} 
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {%- assign honors = site.honors | reverse -%} 
      {% for item in honors limit: site.honors_limit %} 
        <tr>
          <td>
            {% if item.inline -%} 
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {%- else -%} 
              <a class="honors-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {%- endif %} 
          </td>
        </tr>
      {%- endfor %} 
      </table>
    </div>
  {%- else -%} 
    <p>No honors so far...</p>
  {%- endif %} 
  </div>